@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: "Open Sans", sans-serif;
    background-color: #211951;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logomenu{
    width: 20px;
}

.menu a{
    text-decoration: none;
}

.menu{
    display: flex;
    flex-direction: row;
}

.menu button{
    border-radius: 10px;
}

.header1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header2{
    width: 100%;
}

.barra{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header1 .iniciosesion p{
    color: #F0F3FF;
}

h1{
    font-size: 50px;
    color: #F0F3FF;
}

.barra li a{
    color: #F0F3FF;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.barra li a:hover{
    color: bisque;
    text-transform: uppercase;
}

.barra li{
    list-style: none;
}

.busqueda{
    color: #F0F3FF;
}

.form{
    width: 200px;
}

input:focus{
    color: #F0F3FF;
    background-color: #211951;
}

.iniciosesion{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


body {
    font-family: "Open Sans", sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

.imagen-fondo{
    background-image: url(https://articles-img.sftcdn.net/image/upload/v1582492843/videojuegos_4_tomb_raider_psh48b.jpg);
    width: 100vw;
    height: 300px;
    background-position: center center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.imagen-fondo h2{
    color: #F0F3FF;
    align-self: center;
}

.spend{
    color: #F0F3FF;
    font-size: 25px;
}

.imagen{
    width: 12.5rem;
    height: 12.5rem;
}

h2 .busqueda{
    color: #F0F3FF;
}

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 100px;
}

.section-juegos1{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    grid-template-areas:
        "titulojuegos1 titulojuegos1 . . ."
        "juegos1-div1 juegos1-div2 juegos1-div3 juegos1-div4 juegos1-div5"
        "juegos1-div1 juegos1-div2 juegos1-div3 juegos1-div4 juegos1-div5"
    ;
}

.juegos1-div1{
    grid-area: juegos1-div1;
}

.juegos1-div2{
    grid-area: juegos1-div2;
}

.juegos1-div3{
    grid-area: juegos1-div3;
}

.juegos1-div4{
    grid-area: juegos1-div4;
}

.juegos1-div5{
    grid-area: juegos1-div5;
}


.section-juegos2{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    grid-template-areas:
        "titulojuegos2 titulojuegos2 . . ."
        "juegos2-div1 juegos2-div2 juegos2-div3 juegos2-div4 juegos2-div5"
        "juegos2-div1 juegos2-div2 juegos2-div3 juegos2-div4 juegos2-div5"
    ;
}

.juegos2-div1{
    grid-area: juegos2-div1;
}

.juegos2-div2{
    grid-area: juegos2-div2;
}

.juegos2-div3{
    grid-area: juegos2-div3;
}

.juegos2-div4{
    grid-area: juegos2-div4;
}

.juegos2-div5{
    grid-area: juegos2-div5;
}


footer{
    width: 100vw;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    background-color: #15F5BA;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.logos{
    align-self: center;
}

.ul-footer li{
    list-style: none;
}


.consoles{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.consoles div img{
    border: 2px solid black;
    border-radius: 25px;
}

.img-consoles{
    width: 300px;
    height: 300px;
}

.consoles2{
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% repeat(3, 1fr);
    place-items: center;
    grid-template-areas: 
    ". consoles-1 ."
    "consoles-2 consoles-3 consoles-4"
    "consoles-5 consoles-6 consoles-7"
    "consoles-8 consoles-9 consoles-10"
    ;
}

.consoles-1{
    grid-area: consoles-1;
}
.consoles-2{
    grid-area: consoles-2;
}
.consoles-3{
    grid-area: consoles-3;
}
.consoles-4{
    grid-area: consoles-4;
}
.consoles-5{
    grid-area: consoles-5;
}
.consoles-6{
    grid-area: consoles-6;
}
.consoles-7{
    grid-area: consoles-7;
}
.consoles-8{
    grid-area: consoles-8;
}
.consoles-9{
    grid-area: consoles-9;
}
.consoles-10{
    grid-area: consoles-10;
}


.section-preowned{
    margin-top: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    grid-template-areas: 
    "preowned1 preowned2 preowned3 preowned4"
    ". . . ."
    "preowned5 preowned6 preowned7 preowned8"
    ;
}

.preowned1{
    grid-area: preowned1;
}
.preowned2{
    grid-area: preowned2;
}
.preowned3{
    grid-area: preowned3;
}
.preowned4{
    grid-area: preowned4;
}
.preowned5{
    grid-area: preowned5;
}
.preowned6{
    grid-area: preowned6;
}
.preowned7{
    grid-area: preowned7;
}
.preowned8{
    grid-area: preowned8;
}

.main-contact{
    margin-top: 30px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-margin{
    margin-top: 25px;
}

.ps5{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "ps5div1 ps5div2 ps5div3"
    ". ps5div4 ps5div5"
    ;
}

.ps5div1{
    grid-area: ps5div1;
}
.ps5div2{
    grid-area: ps5div2;
}
.ps5div3{
    grid-area: ps5div3;
}
.ps5div4{
    grid-area: ps5div4;
}
.ps5div5{
    grid-area: ps5div5;
}

.xbox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "xboxdiv1 xboxdiv2 xboxdiv3"
    ". xboxdiv4 xboxdiv5"
    ;
}

.xboxdiv1{
    grid-area: xboxdiv1;
}
.xboxdiv2{
    grid-area: xboxdiv2;
}
.xboxdiv3{
    grid-area: xboxdiv3;
}
.xboxdiv4{
    grid-area: xboxdiv4;
}
.xboxdiv5{
    grid-area: xboxdiv5;
}

.switch{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "switchdiv1 switchdiv2 switchdiv3"
    ". switchdiv4 switchdiv5"
    ;
}

.switchdiv1{
    grid-area: switchdiv1;
}
.switchdiv2{
    grid-area: switchdiv2;
}
.switchdiv3{
    grid-area: switchdiv3;
}
.switchdiv4{
    grid-area: switchdiv4;
}
.switchdiv5{
    grid-area: switchdiv5;
}

.fondocontactus{
    background-image: url(https://sm.ign.com/t/ign_latam/video/1/15-best-se/15-best-selling-video-games-of-all-time_bnj1.1200.jpg);
    width: 100vw;
    height: 300px;
    background-position: center center;
    background-size: 100% 100%;
}

.parrafocontact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imgcontact{
    width: 40px;
    height: 40px;
}

@media (max-width: 768px){
    .header1 .menu h1{
        font-size: 30px;
    }

    .barra li a{
        font-size: 20px;
    }

    .section-juegos1 {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 20% repeat(2, 1fr);
        grid-template-areas:
            ". titulojuegos1 ."
            "juegos1-div1 juegos1-div2 juegos1-div3"
            ". juegos1-div4 juegos1-div5"
        ;
    }

    .section-juegos2{
            display: grid;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 20% repeat(2, 1fr);
            grid-template-areas:
            ". titulojuegos2 ."
            "juegos2-div1 juegos2-div2 juegos2-div3"
            ". juegos2-div4 juegos2-div5"
            ;
    }

    .img-consoles{
        width: 7.5rem;
        height: 7.5rem;
    }

    .consoles2{
        margin-top: 20px;
        margin-left: 20px;
        width: 100vw;
        row-gap: 20px;
    }

    .section-preowned{
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 15px;
        place-items: center;
        grid-template-areas: 
        "preowned1 preowned2 preowned3"
        "preowned4 preowned5 preowned6"
        "preowned7 . preowned8"
        ;
    }

    .ps5{
        width: 100%;
        display: grid;
        grid-template-columns: 15% repeat(2, 1fr);
        grid-template-rows: 15% repeat(2, 1fr);
        grid-template-areas: 
        ". ps5div1 ."
        ". ps5div2 ps5div3"
        ". ps5div4 ps5div5"
        ;
    }

    .xbox{
        width: 100%;
        display: grid;
        grid-template-columns: 15% repeat(2, 1fr);
        grid-template-rows: 15% repeat(2, 1fr);
        grid-template-areas: 
        ". xboxdiv1 ."
        ". xboxdiv2 xboxdiv3"
        ". xboxdiv4 xboxdiv5"
        ;
    }

    .switch{
        width: 100%;
        display: grid;
        grid-template-columns: 15% repeat(2, 1fr);
        grid-template-rows: 15% repeat(2, 1fr);
        grid-template-areas: 
        ". switchdiv1 ."
        ". switchdiv2 switchdiv3"
        ". switchdiv4 switchdiv5"
        ;
    }
    .footer{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
}

@media (max-width:426px){
    .imagen-fondo{
        width: 100vw;
    }
    
    .section-juegos1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section-juegos2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header1{
        .form{
            display: none;
        }
        .menu h1{
            font-size: 1.5625rem;
        }
        .iniciosesion p{
            display: none;
        }
    }
    .header2{
        .barra{
        flex-direction: column;
        align-items: center;
        }
    }
    .section-preowned{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .consoles{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
    }
    .footer{
        justify-content: space-around;
        h3{
            font-size: 1rem;
        }
        .ul-footer li{
            font-size: .875rem;
        }
    }
    footer{
        margin-top: 3.125rem;
        display: flex;
        flex-direction: column;
        gap: .9375rem;
    }
    .logos{
        align-self: center;
    }


}