@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  overflow-x: hidden; }

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  gap: 3.125rem; }

.imagen {
  width: 12.5rem;
  height: 12.5rem; }

footer {
  width: 100vw;
  font-optical-sizing: auto;
  background-color: #15F5BA;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: none;
  gap: none; }

.header-index, header {
  background-color: #211951;
  width: 100vw;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: 2.5rem; }
  .header-index h1, header h1 {
    color: #F0F3FF;
    font-size: 50px; }
  .header-index section, header section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .header-index div, header div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .header-index nav ul, header nav ul {
    display: flex;
    flex-direction: row;
    gap: 40px; }
    .header-index nav ul li, header nav ul li {
      list-style: none; }
      .header-index nav ul li a, header nav ul li a {
        text-decoration: none;
        color: #F0F3FF;
        font-size: 30px; }

.iniciosesion p {
  color: #F0F3FF; }

.imagen-fondo {
  background-image: url(https://articles-img.sftcdn.net/image/upload/v1582492843/videojuegos_4_tomb_raider_psh48b.jpg);
  width: 100vw;
  height: 300px;
  background-position: center center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.section-juegos1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  place-items: center;
  grid-template-areas: "titulojuegos1 titulojuegos1 . . ." "juegos1-div1 juegos1-div2 juegos1-div3 juegos1-div4 juegos1-div5" "juegos1-div1 juegos1-div2 juegos1-div3 juegos1-div4 juegos1-div5"; }

.juegos1-div1 {
  grid-area: juegos1-div1; }

.juegos1-div2 {
  grid-area: juegos1-div2; }

.juegos1-div3 {
  grid-area: juegos1-div3; }

.juegos1-div4 {
  grid-area: juegos1-div4; }

.juegos1-div5 {
  grid-area: juegos1-div5; }

.section-juegos2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  place-items: center;
  grid-template-areas: "titulojuegos2 titulojuegos2 . . ." "juegos2-div1 juegos2-div2 juegos2-div3 juegos2-div4 juegos2-div5" "juegos2-div1 juegos2-div2 juegos2-div3 juegos2-div4 juegos2-div5"; }

.juegos2-div1 {
  grid-area: juegos2-div1; }

.juegos2-div2 {
  grid-area: juegos2-div2; }

.juegos2-div3 {
  grid-area: juegos2-div3; }

.juegos2-div4 {
  grid-area: juegos2-div4; }

.juegos2-div5 {
  grid-area: juegos2-div5; }

.footer, footer {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  gap: 6.25rem;
  padding: 1.875rem; }
  .footer ul li, footer ul li {
    list-style: none; }

.logos, footer {
  align-self: center; }
  .logos button, footer button {
    border: 3px solid whitesmoke;
    border-radius: .3125rem; }

.consoles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: none;
  flex-wrap: wrap;
  margin-top: 1.5625rem; }

.img-consoles {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 25px; }

.consoles2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10%, repeat(3, 1fr);
  justify-content: none;
  place-items: center;
  grid-template-areas: ". consoles-1 ." "consoles-2 consoles-3 consoles-4" "consoles-5 consoles-6 consoles-7" "consoles-8 consoles-9 consoles-10";
  gap: 1.25rem; }

.consoles-1 {
  grid-area: consoles-1; }

.consoles-2 {
  grid-area: consoles-2; }

.consoles-3 {
  grid-area: consoles-3; }

.consoles-4 {
  grid-area: consoles-4; }

.consoles-5 {
  grid-area: consoles-5; }

.consoles-6 {
  grid-area: consoles-6; }

.consoles-7 {
  grid-area: consoles-7; }

.consoles-8 {
  grid-area: consoles-8; }

.consoles-9 {
  grid-area: consoles-9; }

.consoles-10 {
  grid-area: consoles-10; }

.section-preowned {
  margin-top: 1.25rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: none;
  place-items: center;
  grid-template-areas: "preowned1 preowned2 preowned3 preowned4" ". . . ." "preowned5 preowned6 preowned7 preowned8"; }

.preowned1 {
  grid-area: preowned1; }

.preowned2 {
  grid-area: preowned2; }

.preowned3 {
  grid-area: preowned3; }

.preowned4 {
  grid-area: preowned4; }

.preowned5 {
  grid-area: preowned5; }

.preowned6 {
  grid-area: preowned6; }

.preowned7 {
  grid-area: preowned7; }

.preowned8 {
  grid-area: preowned8; }

.main-newreleases {
  margin-top: 1.25rem;
  margin-left: .625rem; }

.ps5 {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: none;
  place-items: none;
  grid-template-areas: "ps5div1 ps5div2 ps5div3" ". ps5div4 ps5div5"; }

.ps5div1 {
  grid-area: ps5div1; }

.ps5div2 {
  grid-area: ps5div2; }

.ps5div3 {
  grid-area: ps5div3; }

.ps5div4 {
  grid-area: ps5div4; }

.ps5div5 {
  grid-area: ps5div5; }

.xbox {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: none;
  place-items: none;
  grid-template-areas: "xboxdiv1 xboxdiv2 xboxdiv3" ". xboxdiv4 xboxdiv5"; }

.xboxdiv1 {
  grid-area: xboxdiv1; }

.xboxdiv2 {
  grid-area: xboxdiv2; }

.xboxdiv3 {
  grid-area: xboxdiv3; }

.xboxdiv4 {
  grid-area: xboxdiv4; }

.xboxdiv5 {
  grid-area: xboxdiv5; }

.switch {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: none;
  place-items: none;
  grid-template-areas: "switchdiv1 switchdiv2 switchdiv3" ". switchdiv4 switchdiv5"; }

.switchdiv1 {
  grid-area: switchdiv1; }

.switchdiv2 {
  grid-area: switchdiv2; }

.switchdiv3 {
  grid-area: switchdiv3; }

.switchdiv4 {
  grid-area: switchdiv4; }

.switchdiv5 {
  grid-area: switchdiv5; }

.fondocontactus {
  background-image: url(https://sm.ign.com/t/ign_latam/video/1/15-best-se/15-best-selling-video-games-of-all-time_bnj1.1200.jpg);
  width: 100vw;
  height: 300px;
  background-position: center center;
  background-size: 100% 100%; }

.main-contact {
  margin-top: 30px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  gap: 1.25rem; }

@media (max-width: 990px) {
  .header1 .menu h1 {
    font-size: 30px; }
  .barra li a {
    font-size: 20px; }
  .section-juegos1 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20% repeat(2, 1fr);
    grid-template-areas: ". titulojuegos1 ." "juegos1-div1 juegos1-div2 juegos1-div3" ". juegos1-div4 juegos1-div5"; }
  .section-juegos2 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20% repeat(2, 1fr);
    grid-template-areas: ". titulojuegos2 ." "juegos2-div1 juegos2-div2 juegos2-div3" ". juegos2-div4 juegos2-div5"; } }

@media (max-width: 990px) {
  .header1 .menu h1 {
    font-size: 1.875rem; }
  .barra li a {
    font-size: 1.25rem; }
  .img-consoles {
    width: 7.5rem;
    height: 7.5rem; }
  .section-preowned {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: none;
    place-items: center;
    grid-template-areas: "preowned1 preowned2 preowned3" "preowned4 preowned5 preowned6" "preowned7 . preowned8";
    width: 100vw;
    row-gap: .9375rem; }
  .footer, footer {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: none;
    gap: 0.9375rem; } }

@media (max-width: 990px) {
  .header1 .menu h1 {
    font-size: 1.875rem; }
  .barra li a {
    font-size: 1.25rem; }
  .ps5 {
    width: 100vw;
    display: grid;
    grid-template-columns: 15%;
    grid-template-rows: repeat(2, 1fr);
    justify-content: none;
    place-items: none;
    grid-template-areas: ". ps5div1 ." ". ps5div2 ps5div3" ". ps5div4 ps5div5"; }
  .xbox {
    width: 100vw;
    display: grid;
    grid-template-columns: 15%;
    grid-template-rows: repeat(2, 1fr);
    justify-content: none;
    place-items: none;
    grid-template-areas: ". xboxdiv1 ." ". xboxdiv2 xboxdiv3" ". xboxdiv4 xboxdiv5"; }
  .switch {
    width: 100%;
    display: grid;
    grid-template-columns: 15%;
    grid-template-rows: repeat(2, 1fr);
    justify-content: none;
    place-items: none;
    grid-template-areas: ". switchdiv1 ." ". switchdiv2 switchdiv3" ". switchdiv4 switchdiv5"; }
  .footer, footer {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: none;
    gap: 0.9375rem; } }

@media (max-width: 990px) {
  .header1 .menu h1 {
    font-size: 30px; }
  .barra li a {
    font-size: 20px; }
  .img-consoles {
    width: 7.5rem;
    height: 7.5rem; }
  .consoles2 {
    margin-top: 1.25rem;
    margin-left: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    place-items: none;
    grid-template-areas: "consoles-1 consoles-2" "consoles-3 consoles-4" "consoles-5 consoles-6" "consoles-7 consoles-8" "consoles-9 consoles-10"; } }

@media (max-width: 768px) {
  .header1 .menu h1 {
    font-size: 30px; }
  .barra li a {
    font-size: 20px; } }

@media (max-width: 625px) {
  .imagen-fondo {
    width: 100vw; }
  .section-juegos1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    gap: none; }
  .section-juegos2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    gap: none; }
  .header1 .form {
    display: none; }
  .header1 .menu h1 {
    font-size: 1.5625rem; }
  .header1 .iniciosesion p {
    display: none; }
  .header2 .barra {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: none; }
  .footer, footer {
    justify-content: space-around; }
    .footer h3, footer h3 {
      font-size: 1rem; }
    .footer .ul-footer li, footer .ul-footer li {
      font-size: .875rem; }
  footer {
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    gap: 0.9375rem; }
  .logos, footer {
    align-self: center; } }

@media (max-width: 425px) {
  .consoles2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    gap: 0.625rem; } }

@media (max-width: 625px) {
  .ps5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem; }
  .xbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem; }
  .switch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem; } }

@media (max-width: 600px) {
  .section-preowned {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    gap: 0.9375rem; } }

@media (max-width: 426px) {
  .main-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
    gap: 0.9375rem; } }
