@media (max-width: 600px){
    .header1 h1{
        font-size: 1.25rem;
    }
    .barra li a{
        font-size: .9375rem;
    }
    .main-contact{
        @include flex(column, center, none, .9375rem);
        border-left: .9375rem;
}
}