@media (max-width:600px) {
    /**Generales**/
    .header1 {
        .form {
            display: none;
        }

        .iniciosesion p {
            display: none;
        }

        h1{
            font-size: 1.25rem;
        }
    }

    .barra{
        @include flex(column, center, none, none);
        ul{
            padding-left: 0;
        }
    }

    .barra li a{
        font-size: 1.125rem;
    }
    footer{
        margin-bottom: 0;
        margin-top: 0
    }
    .footer {
        @include flex(column, none, center, .625rem);
        h3 {
            font-size: 1rem;
            font-weight: bolder;
        }

        li {
            font-size: .75rem;
        }
    }
    .logos {
        align-self: center;
    }
    .consoles{
        @include grids(repeat(2, 1fr), repeat(2, 1fr), none, center, "grid-consoles1 grid-consoles2" "grid-consoles3 grid-consoles4");
    }
    .grid-consoles1{
        grid-template-areas: grid-consoles1;
    }
    .grid-consoles2{
        grid-template-areas: grid-consoles2;
    }
    .grid-consoles3{
        grid-template-areas: grid-consoles3;
    }
    .grid-consoles4{
        grid-template-areas: grid-consoles4;
    }
    .img-consoles{
        width: 6.25rem;
        height: 6.25rem;
    }
    /**Index**/
    .imagen-fondo {
        width: 100vw;
    }

    .section-juegos1 {
        @include flex(column, center, none, none)
    }

    .section-juegos2 {
        @include flex(column, center, none, none)
    }

    /**contact**/
    .main-contact{
        @include flex(column, center, none, .9375rem);
        border-left: .9375rem;
    }
    .parrafocontact{
        ul{
            li{
                font-size: small;
            }
        }
    }
    /**New Releases**/
    .ps5{
        @include flex(column, center, center, .9375rem) 
    }

    .xbox{
        @include flex(column, center, center, .9375rem)
    }

    .switch{
        @include flex(column, center, center, .9375rem) 
    }

    .texto{
        font-size: 1rem;
    }
    //*Pre-owned**/
    .section-preowned{
        @include flex(column, center, none, .9375rem)
    }
    .giftcard{
        @include flex(column, center, center, none);
        font-size: small;
        img{
            width: 100%;
        }
    }
    /**Consoles**/
    .consoles2{
        @include flex(column, center, none, .625rem)
    }
}