.header-index {
    background-color: map-get($colores, color1);
    width: 100vw;
    padding: 1.25rem;
    @include flex(column, none, none, 2.5rem);

    h1 {
        color: map-get($colores, color2);
        font-size: 50px;
    }

    section {
        @include flex(row, space-around, center, none)
    }

    div {
        @include flex(row, none, center, none)
    }

    nav {
        ul {
            li {
                list-style: none;
            
                a {
                    text-decoration: none;
                    color: map-get($colores, color2);
                    font-size: 1.875rem;

                    &:hover {
                        color: bisque;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.barra{
    @include flex(row, none, none, 2.5rem)
}
.header1 {
    &:nth-child(1) {
        a {
            text-decoration: none;
        }
    }
}

.iniciosesion {
    p {
        color: map-get($colores, color2);
    }
}