@media (max-width: 990px){
    .header1 .menu h1{
        font-size: 1.875rem;
    }

    .barra li a{
        font-size: 1.25rem;
    }
    .img-consoles{
        width: 7.5rem;
        height: 7.5rem;
    }
    .section-preowned{
        @include grids(repeat(3, 1fr), repeat(3, 1fr), none, center, "preowned1 preowned2 preowned3" "preowned4 preowned5 preowned6" "preowned7 . preowned8");
        width: 100vw;
        row-gap: .9375rem;
    }

    .footer{
        @include flex(row, none, none, .9375rem)
    }
}