@media (max-width: 990px){
    .header1 .menu h1{
        font-size: 30px;
    }

    .barra li a{
        font-size: 20px;
    }

    .section-juegos1 {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 20% repeat(2, 1fr);
        grid-template-areas:
            ". titulojuegos1 ."
            "juegos1-div1 juegos1-div2 juegos1-div3"
            ". juegos1-div4 juegos1-div5"
        ;
    }

    .section-juegos2{
            display: grid;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 20% repeat(2, 1fr);
            grid-template-areas:
            ". titulojuegos2 ."
            "juegos2-div1 juegos2-div2 juegos2-div3"
            ". juegos2-div4 juegos2-div5"
            ;
        }
}